## Some Python if you need a quick refresher

Let's look at some basic data structures in Python

   - str (string)
   - List (mutable, order maintained)
   - Tuple (immutable)
   - Set (unordered, unique)
   - Dictionary (mutable, key-value pairs)

In [ ]:
#this is a string (str)
hackathon = "spectra"
print('length of the string:', len(hackathon))
print('first character of the string:', hackathon[0])
print('last character of the string:', hackathon[-1])
print('capitalize string: ', hackathon.capitalize())
print('uppper case string: ', hackathon.upper())
print('find tra in the string: ', hackathon.find('tra')) #start counting from 0
#Many more methods available. Read the docs - https://docs.python.org/3/library/stdtypes.html#string-methods

In [ ]:
#this is a list
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida"]
print('number of states:', len(states))
print('first state: ', states[0])
print('last state: ', states[-1])
print('list contains California?', 'California' in states)
print('where is California in the list?', states.index('California'))
print('list first three states:', states[:3])
print('list last three states:', states[-3:])

#more advanced
print('filter list to only states starting with C:', list(filter(lambda x: x.startswith('C'),states)))
print('filter list to only states starting with C:', [state for state in states if state.startswith('C')])
#Many more methods available. Read the docs - https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
#this is a dictionary. They are unordered, so first and last makes little sense
states = {
'AL': 'Alabama',
'AK': 'Alaska',
'AZ': 'Arizona',
'AR': 'Arkansas',
'CA' : 'California',
'CO': 'Colorado',
'CT': 'Connecticut',
'DE': 'Delaware',
'FL': 'Florida'
}
print('keys in states:', states.keys())
print('values in states:', states.values())
print('# states in dict:', len(states))
print('find ca:', states['CA'])
print('is FL in the list:', 'FL' in states)
print('is Florida in the list: ', 'Florida' in states.values())
#Many more methods available. Read the docs - https://docs.python.org/3.6/tutorial/datastructures.html#dictionaries

## Data structures in Pandas - Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#This is a series. Think of this as a list with an index!
states = pd.Series(["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida"])
states

In [ ]:
#you can give the data your own index!
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida"]
abb = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL']
states = pd.Series(data=states, index=abb)
states

In [ ]:
#slice and dice
print('first state:', states[0])
print('first index:', states.index[0])
print('\n\n')
print('first three states:')
print(states[0:3])
print('\n\n')
print('last three states:')
print(states[-3:])

In [ ]:
#you can create series out of comprehensions and anything else that returns an iterable
fours = pd.Series([x**4 for x in range(6)])
fours

In [ ]:
#numpy has a wonderful random number generator that is useful in creating dummy data. Returns np.array
rand = pd.Series(np.random.rand(5))
rand

## Data structures in Pandas - Dataframes

In [ ]:
#dataframe is a like a table
state_data = {
    'abb':['AL','AK','AZ','AR','CA','CO','CT','DE','FL'],
    'name':["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida"],
    'temp': np.random.rand(9)
}
df_state = pd.DataFrame(state_data)
df_state

In [ ]:
df = pd.DataFrame(data = np.random.randn(2,2), columns=['Temp', 'Humidity'])
df

In [ ]:
#the very cool thing about dataframes is that you can operate on them as a single unit. NO NEED TO ITERATE EXPLICITLY!
df = df * 10
df

In [ ]:
#you can use apply method to perform a more complex operation. 
#remove the comment below and shift+tab+tab_tab inside the apply brackets to bring up the documentation. Yes, three tabs. See what each one does!

#df.apply()

In [ ]:
def add100(x):
    return x + 100

In [ ]:
#let's apply this function to 
df.apply(add100)

In [ ]:
#notice that the original dataframe does not change. This can get tricky. 
#If you want to change the df, assign it to itself. Or some methods have inplace=True parameters to force change inplace
df

In [ ]:
#you can also use lambda or anonymous functions to do the same
df.apply(lambda x: x+100)

## Let's load in our data files!

In [ ]:
casts_url = "https://ibm.box.com/shared/static/569iue5znz5angfxaaojbd7olgegk0bz.csv"
release_dates_url = "https://ibm.box.com/shared/static/fxu6rhfktvjs0uvgtbhjsp5g5k9qgjh1.csv"
titles_url = "https://ibm.box.com/shared/static/cw3wqtzuljiyqz4kbuk26ojrrm9rzfow.csv"
film_locations_url = "https://ibm.box.com/shared/static/kcot1vu0r1tusff85m5shrr7ehsee8np.csv"

In [ ]:
# local only
# casts = pd.read_csv('/Users/ulidder/Downloads/spectra-data/cast.csv')
# release_dates = pd.read_csv('/Users/ulidder/Downloads/spectra-data/release_dates.csv')
# titles = pd.read_csv('/Users/ulidder/Downloads/spectra-data/titles.csv')
# locations = pd.read_csv('/Users/ulidder/Downloads/spectra-data/Film_Locations_in_San_Francisco.csv')

In [ ]:
casts = pd.read_csv(casts_url)

In [ ]:
release = pd.read_csv(release_dates_url)

In [ ]:
titles = pd.read_csv(titles_url)

In [ ]:
locations = pd.read_csv(film_locations_url)

In [ ]:
#woh! that was smooth! Let's explore the casts dataset 

#how big is this dataset? shape returns a tuple. The first number is the number of rows and the second is the number of columns.
#3.7M rows! not a bad start!
print(casts.shape)

In [ ]:
#what are the different columns in this dataframe
casts.columns

In [ ]:
#cool! What are some of the datatypes? Read object is mostly string
casts.info()

In [ ]:
#are there any null values? this takes a little time to go over 3.7M rows! Also only works for numerical data
casts.describe()

## Querying

In [ ]:
#does slicing work here? well YES!
print('first 10 rows:')
casts[:10]

In [ ]:
print('last 10 rows:')
casts[-10:]

In [ ]:
#cool deal, but there are other methods that are more popular to take a quick peek at the data
casts.head()

In [ ]:
casts.tail()

In [ ]:
casts.sample()

In [ ]:
casts.sample(5)

In [ ]:
#this is great, but I want to get specific rows and columns. There are two very important methods to look up something in a dataframe

## loc and iloc

In [ ]:
#loc is used to look up by label
#iloc is used to look up by index or location

In [ ]:
#let's use iloc first. Get the first row with iloc. The general syntax for iloc is dataframe.iloc[rows,columns]
casts.iloc[0]

In [ ]:
#notice that returned a series. Another way to check is
type(casts.iloc[0])

In [ ]:
#now let's get the 5th and 6th rows. Remember numerical index is 0 based and also the second limit in the iloc index is excluded
casts.iloc[5:7]

### Exercise 1

In [ ]:
#great, can you get the 100th and 101th row using the iloc method?

-----

In [ ]:
#that's wonderful. How do we get only the columns we need using iloc? Let's say we only want title column for the 5th and 6th row
casts.iloc[5:7,0]

In [ ]:
#notice we again got a series. To get a dataframe, we can speficy a range as the second parameter.
casts.iloc[5:7, 0:1]

In [ ]:
#What if we want title and year?
casts.iloc[5:7,0:2]

In [ ]:
#what if we want name and character?
casts.iloc[5:7,[2,4]]

### Exercise 2

In [ ]:
#can you get title, year and character for the 200th and 300th rows?

----

In [ ]:
#let's try loc now. The general syntax remains the same dataframe.loc[rows,columns]. We now use labels instead of location or numerical index
#let's get the first row again
casts.loc[0]

In [ ]:
#woh! why did that work? It just so happens that in this case, the label or the index is the same as the numerical location
casts.index

In [ ]:
#try it for the columns? It will give you an error. 
# casts.loc[0,0]

In [ ]:
#now, let's get the title for the first two rows. notice in this case, the second argument is inclusive! Ya! Don't ask me why!
casts.loc[0:1,'title']

### Exercise 3

In [ ]:
#grab the 200th and 201st rows with character and the n value

In [ ]:
#also to note is that you can use dataframe[''] to select columns, but it is recommeneded to use the more explicit loc or iloc function
casts['title'].head()

In [ ]:
#that gave you a series. To get a dataframe, put another []
casts[['title']].head()

In [ ]:
#you can get multiple columns as follows
casts[['year', 'title']].head()

## Sorting

In [ ]:
#use the sort_index method to sort the index
print('current index:', casts.index)

#let's change the index to year
casts_new = casts.set_index(casts.year)
print('new index:',casts_new.index)
#notice that it is not sorted

#sort_index
casts_new.sort_index().head()

In [ ]:
#to sort by value, you can use sort_values for dataframe
casts.head()

In [ ]:
casts.sort_values('title').head()

## Exercise 4

In [ ]:
#For the movie Straight Outta Compton, can you print the cast in alphabetical order, but only those members who have a n value
soc = casts.loc[casts.title == 'Straight Outta Compton']
soc = soc.loc[~soc.n.isnull()]
#your turn

In [ ]:
#what is the syntax to sort a series? Look up the syntax here and complete the code below ...
#https://pandas.pydata.org/pandas-docs/stable/reference/series.html
casts.loc[:,'title']

--------

## Conditional Lookups!

### Okay! so we know how to select based on position and index, but how do you do conditional lookups? Actually, this is fairly simple!

In [ ]:
#let's get all movies made after the year 2000. First we create a condition
moviesafter2000 = casts.year > 2000

#now let's grab the rows where this condition is true. I am getting the first five to keep the result small.
casts.loc[moviesafter2000].head()

In [ ]:
#we can still use the second argument for loc to only get selected columns
casts.loc[moviesafter2000,['title', 'year', 'type']].head()

In [ ]:
#we can use the shorter syntax as well and just do ...
casts[moviesafter2000][['title', 'year', 'type']].head()

### The loc version seems easier to decipher! Note that you cannot do conditional selecting with iloc

## Exercise 5

In [ ]:
#select all movies between 1940 and 1950

## Exercise 6

In [ ]:
#create a new dataframe with only actors and another with only actoresses

-----

## What if you have a more complicated query? Maybe you want on actors whose names start with Z? Series str to the rescue!

In [ ]:
#you can use str on columns that are of object type and then perform any string operation on that column.
#for example to convert all titles to lowercase, we can do
print('original titles in the casts dataframe:',casts.title.head().values)

#use str.lower to lower case the series. Just showing the top 5.
casts.title.str.lower().head()

### See what else you can do with str here: https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling

In [ ]:
#you can combine multiple str functions, but have to convert each sub step to str
#here, we first convert everything to lower case and then swapcase, that converts it back to upper case.
casts.title.str.lower().str.swapcase().head()

## Exercise 7

In [ ]:
#your turn, can you print all moves that have the word batman in them? You might have to use str twice. Once to lower and once to find batman!

## Another very important method used all the time is value_counts()

In [ ]:
#so what does this method do? It counts the values. Hence value_counts()!
#let's count the number of movies in the different years. We can use the titles dataframe now.
titles.year.value_counts().head()

## Charts and Plots!

In [ ]:
#wow, that quite a jump from 2016 to 2017! How about we plot this? We will use the matplotlib library
#the following line enabled the plot to be drawn inside the notebook
%matplotlib inline

In [ ]:
#matplotlib integrates with pandas library very well. You can just call the plot method on a dataframe and see what happens
titles.plot()

In [ ]:
#what!!!!! what just happened? Well, you will get into this situation very often. By default matplotlib takes the index
#as the x axis. What is the index in the titles dataframe? Numbers!. No wonder this does not make sense!
titles.index

In [ ]:
#we will use value_counts and the right x axis to do this as follows
titles.year.value_counts().plot()

In [ ]:
#hmmm! something is still not right! What do you think is the problem?
#well, it is drawing what we asked it to draw. The problem is that the index (years) is not sorted!! Let's fix that
titles.year.value_counts().sort_index().plot()

In [ ]:
#very cool! Third one's the charm! Your turn to use value_counts()

## Exercise 8

In [ ]:
# What are the ten most common movie names of all time?

In [ ]:
# How many different movies have "Hamlet" in the title?

In [ ]:
# Plot the hamlet releases by year

In [ ]:
# What are the 11 most common character names in movie history?

In [ ]:
# Who are the 10 people most often credited as "Herself" in film history?

In [ ]:
# Who are the 10 people most often credited as "Himself" in film history?

In [ ]:
# Which actors or actresses appeared in the most movies in the year 2018?

In [ ]:
# How many people played themselves ?

## Add and remove columns

In [ ]:
#a lot of times, we want to summarize the data. For example, we might want to see the above chart by decades instead of years.
#let's add a new column 'decade' to our dataframe. We will use a neat trick to create this column.Thanks Brandon!
titles['decade'] = titles.year // 10 * 10

In [ ]:
#so what does titles look like?
titles.head()

## Exercise 9

In [ ]:
#can you now plot number of movies per decade?

## Exercise 10

In [ ]:
#how about do a bar chart instead? Look up help for plot().

-------

In [ ]:
#now that we are finished with decade, we can delete this column by using the drop method. Again showing first 5 for brevity
titles.drop(['decade'], axis=1).head()
#what is the axis? and why do we need it? Read the docs

In [ ]:
#let's look at titles now
titles.head()

In [ ]:
#wait a second! what happened? I thought we deleted the column. Remember, most of the methods return a new dataframe. For our own good!
#use the inplace argument to make changes in place
titles.drop(['decade'], axis=1, inplace=True)
titles.head()

## What about the quality of our data?

In [ ]:
#let's run describe again, but for all columns this time. Can you figure out what parameter ensures we get results for all columns 
#and not just numerical columns?
casts.describe(include='all')

### We can see there are missing values for n. The rest of the columns look good! There is also a handy isnull function to figure out missing values in a dataframe

In [ ]:
#let's fun isnull on casts column
casts.n.isnull()

In [ ]:
#woh! that happened? Were you expecting a number? isnull() goes through all the rows and returns True if the value is missing and False otherwise.
#so how do we count? In python, False is a 0 and True is a 1. So we can just call the sum method!
casts.n.isnull().sum()

In [ ]:
#you can also run isnull on the whole dataframe at once!
casts.isnull()

In [ ]:
#not very useful. Let's sum again!
casts.isnull().sum()

### Great! so how do we deal with null values? There are quite a few methods in pandas to help with this problem. I am leaving it up to the reader to read the docs on these.
https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

- fillna() with method=''
- ffill()
- bfill()
- interpolate()

### There is also dropna to drop rows and columns with missing data

## We have learned quite a few tricks so far. See if you can complete these exercises:

## Exercise 11

In [ ]:
# look up all movies with Jamie Foxx

In [ ]:
# Look up all movies that end with Rings or rings or RINGS

In [ ]:
# Look up all moves that have the word “park” in them

In [ ]:
# What is the most popular cast name

In [ ]:
# How many different characters was this name used for ?

In [ ]:
# Who is Bess Flowers?

In [ ]:
%%html
<h1>Bess Flowers</h1>
<img src="https://upload.wikimedia.org/wikipedia/en/4/43/Stooge053Bessflowers.jpg"></img>

In [ ]:
#we can even plot two charts in one
cast[cast.name == 'Jamie Foxx'].plot(x='year',y='n', kind='scatter', color='r', label='Jammie Foxx')
cast[cast.name == 'Chris Pratt'].plot(x='year',y='n', kind='scatter', color='g', ax = ax1, label='Chris Pratt')

## casts and location dataframes have similar infomation, is there a way to SQL JOIN them? Why, yes! Thanks for asking!

In [ ]:
print(casts.columns)
print(locations.columns)

In [ ]:
#looks like there might be common information between casts and locations. Let's see what this is
df_merge = casts.merge(locations,left_on=['title', 'year'], right_on=['Title','Release Year'], how='inner')

In [ ]:
df_merge.shape

In [ ]:
df_merge.columns

In [ ]:
# what are the 10 most popular locations in SF?
df_merge.loc[:,['title', 'name', 'year', 'Locations']].Locations.value_counts().head(10)

In [ ]:
#what are the 10 most popular locations in the last five years?
lastfiveyears = (df_merge.year < 2019) & (df_merge.year > 2014)
df_merge.loc[lastfiveyears, 'Locations'].value_counts().head()

## We can use groupby - a very powerful idea!

In [ ]:
#we also want movie names
df_merge_year_sorted = df_merge.loc[lastfiveyears].sort_values(['year','name'], ascending=False)
df_merge_year_sorted.groupby(['year', 'name'])

In [ ]:
#what happened? the groupby method returns a DataFrameGroupBy. We now need to reduce it. 
df_merge_year_sorted.groupby(['year', 'name','Locations'])[['Locations']].count().sort_index(0, ascending=False).head()

## Exercise 12

In [ ]:
#your turn! can you find all the movies shot on the Golden Gate bridge?

In [ ]:
#how about plot the number of movies shot on the Golden Gate Bridge over time and how that compares to the Mission?

In [ ]:
## How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?
# First, query by year
# Second, use group by to group by title and n=1
# use size to reduce

In [ ]:
#how many actors in “lord of the rings”
lotr = cast[cast.title.str.lower().str.contains('lord of the ring')]
lotr.groupby(['title'])[['n']].count()